<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--change sql sentence into java method,see as a implement of this interface-->
<mapper namespace="com.kuang.dao.UserMapper">

<!--    resultset mapping, pwd->password -->
    <resultMap id="UserMap" type="com.kuang.pojo.User">
        <result column="pwd" property="password"/>
    </resultMap>
    
    <select id="getUserById" resultMap="UserMap">
        select * from user where id = #{id}
    </select>

</mapper>

<!--no chinese!!!!!!!!,EVEN HERE -->